<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Demo 5: Tietomallit (models) ja EJS-templatet</title>
</head>
<body>

    <div class="container">

    <h1>Demo 5: Tietomallit (models) ja EJS-templatet</h1>

    <h2>Ajopäiväkirja</h2>

    <table class="table">

        <thead>
            <tr>
                <th>Reitti</th>
                <th>Kilometrit</th>
                <th>Kirjaaja</th>
                <th>Kirjauspvm.</th>                
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>

    </div>

</body>
</html>