<label class="radio-inline ml-3 mt-2">
    <% if (lomaketiedot.sukupuoli == sukupuoli ) { %>
    <input type="radio" name="sukupuoli" value="<%=sukupuoli%>" checked> <%=sukupuoli%>
    <% } else { %>
        <input type="radio" name="sukupuoli" value="<%=sukupuoli%>"> <%=sukupuoli%>
    <% } %>  
</label>